{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'learning_logs:topic' entry.topic.id %}">&laquo; Back to topic</a>
    </p>

    <div class="card mb-3">
        <h4 class="card-header">
            {{ entry.date_added|date:'M d, Y, H:i' }}
            {% if topic.owner == user %}
                <small><a href="{% url 'learning_logs:edit_entry' entry.id %}"> edit entry &raquo;</a></small>
                <small><a href="{% url 'learning_logs:delete_entry' entry.id %}"> delete entry &raquo;</a></small>
            {% endif %}
        </h4>
        <div class="card-body">
            {{ entry.text|linebreaks }}
        </div>
    </div>

    {% if images %}
        <div class="mb-3">
            <h5>Attached images:</h5>
            {% for img in images.all %}
                <img src="{{ img.image.url }}" alt="Image" style="max-width: 400px;" class="img-thumbnail">
            {% endfor %}
        </div>
    {% endif %}

    {% if files %}
        <div>
            <h5>Attached files:</h5>
            {% for f in files.all %}
                <p>
                    <a href="{{ f.file.url }}" download>{{ f.file.name|cut:"files/" }}</a>
                </p>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    <div>
        <h4>Comments:</h4>
            <a href="{% url 'learning_logs:add_comment' entry.id %}" class="btn btn-primary mb-3">Add Comment</a>
            {% if comments %}
                {% for comment in comments %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <p class="text-muted">
                                Posted on: {{ comment.date_added|date:'M d, Y, H:i' }} |
                                {% if comment.owner == user %}
                                     Owner: You |
                                    <a href="{% url 'learning_logs:delete_comment' comment.id %}" class="btn btn-danger btn-sm">Delete</a>
                                    <a href="{% url 'learning_logs:edit_comment' comment.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                {% else %}
                                     Owner: <a href="{% url 'users:user_profile' comment.owner.id %}">{{ comment.owner.user_name }}</a> |
                                    <a href="{% url 'learning_logs:create_complaint_comment' comment.id %}" class="btn btn-warning btn-sm">🚩 To complain</a>
                                {% endif %}
                            </p>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
    </div>
{% endblock content %}